.post-composer {
    border: 1px solid var(--border-color);
    padding: 1em;

    .post-composer-char-indicator {
        width: 2em;
        line-height: 0;

        svg {
            width: 100%;
            height: auto;
        }
    }
}

.post-card {
    width: 100%;
    max-width: 30em;
    border: 1px solid var(--border-color);
    padding: 1em;

    .post-card-reposted-by {}
}

.profile-page {}